<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/htmx.org@1.9.9"></script>
</head>
<style>
    .container {
        display: flex;
    }
    .content {
        padding: 10px;
    }
</style>
<body>
    <div class="container">
        {% block sidebar %}
        {% endblock %}

        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
</html>